*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #ef4136;
  --dark: #04273f;
  --background: #f5f5f5;
}

body {
  color: var(--dark);
  background-color: var(--background);
}

h1 {
  font-size: 4rem;
  font-family: 'Special Gothic Condensed One', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  margin: 20px auto;
  width: 500px;
  height: 100vh;
  gap: 20px;
}

.fetch-display {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(229, 227, 227);
  min-height: 200px;
  width: 100%;
  padding: 10px;
}

#title-display {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

#content-display {
  font-family: 'Georgia', serif;
  font-size: 1.125rem;
  line-height: 1.75;
  color: #444;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

button {
  padding: 12px 20px;
  color: white;
  background-color: var(--light);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button:hover,
button:focus {
  outline: none;
  border: none;
  scale: 1.02;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

form input {
  width: 100%;
  padding: 5px;
  font-size: 1.1rem;
  color: var(--dark);
}

form textarea {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  color: var(--dark);
}

form button[type='submit'] {
  width: 100%;
}

/* notification */
#notification {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  min-height: 50px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(55, 128, 237);
  text-align: center;
}

#notification.warning {
  background-color: rgb(237, 55, 55);
}

#notification.active {
  display: flex;
  animation: notification 0.4s ease-in-out;
}

@keyframes notification {
  0% {
    opacity: 0.5;
    transform: translateX(-50%) translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
}
